<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.S} [%-6.90t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Routing name="outRouting">
            <MarkerFilter marker="IPS_OUT" onMatch="ACCEPT" onMismatch="DENY"/>
            <Routes pattern="$${marker:}">
                <Route>
                    <RollingFile name="routing"
                                 fileName="logs/${marker:}.out"
                                 filePattern="logs/${marker:}-%d{MM-dd-yyyy}-%i.out">
                        <PatternLayout pattern="%m"/>
                        <Policies>
                            <SizeBasedTriggeringPolicy size="25 MB"/>
                        </Policies>
                        <DefaultRolloverStrategy max="100"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>

        <Routing name="logRouting">
            <Routes pattern="$${marker:}">
                <Route>
                    <RollingFile name="routing"
                                 fileName="logs/${marker:}.log"
                                 filePattern="logs/${marker:}-%d{MM-dd-yyyy}-%i.log">
                        <PatternLayout pattern="%d{HH:mm:ss.S} [%-6.90t] %-5level %logger{36} - %msg%n"/>
                        <Policies>
                            <SizeBasedTriggeringPolicy size="25 MB"/>
                        </Policies>
                        <DefaultRolloverStrategy max="100"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>

    </Appenders>
    <Loggers>
        <Logger name="net.schmizz" level="warn"/>
        <Logger name="net.schmizz.sshj.DefaultConfig" level="error"/>

        <Logger name="fast" level="debug" additivity="false">
            <!--<AppenderRef ref="fuckLog4j"/>-->
            <!--<AppenderRef ref="Console"/>-->
        </Logger>

        <Logger name="ssh.out" additivity="false">
            <AppenderRef ref="outRouting"/>
        </Logger>

        <Logger name="ssh.err" additivity="false">
            <AppenderRef ref="outRouting"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="logRouting"/>
        </Root>
    </Loggers>
</Configuration>